# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    filters:
      branches:
        only: master
      tags:
        only: /.*/
    docker:
      # specify the version you desire here
      - image: circleci/node:10.16

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      - image: circleci/mongo:4.1.9
        port: 27017:27017
#        environment:
#          - MONGODB_USERNAME: "test"
#          - MONGODB_PASSWORD: "test"
#          - MONGO_INITDB_ROOT_USERNAME: "test"
#          - MONGO_INITDB_ROOT_PASSWORD: "test"

    working_directory: ~/repo

    steps:
      - run:
          name: Waiting for Mongo
          command: dockerize -wait tcp://localhost:27017 -timeout 1m

      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Install Serverless CLI and dependencies
          command: |
            sudo npm i -g serverless
            npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Run tests
          command: |
            export NODE_ENV=test
            sudo sls invoke test

      - run:
          name: Deploy application
          command: |
            export NODE_ENV=production
            sls deploy --stage prod
